@import "tailwindcss";
@tailwind utilities;

@theme {
  --animate-horizontal: horizontal 2s linear infinite;
}

@layer base {
  @keyframes horizontal {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
